.progress-fixed-bottom {
    bottom: -20px;
    position: fixed;
    width: 100%;
}

.loading-fa {
    transition: margin-left 10s ease;
    margin-left: 100%;
}

#url {
    width: 400px;
}

img {
    width: 100%;
}

body {
    padding-top: 65px;
}
